.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.back-button::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 12px solid #fff;
    border-bottom: 8px solid transparent;
    margin-right: 5px;
}